= form_for @bank do |f|
  - if @bank.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bank.errors.count, "error")} prohibited this bank from being saved:"
      %ul
        - @bank.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
