%h1 Listing banks

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @banks.each do |bank|
      %tr
        %td= bank.name
        %td= link_to 'Show', bank
        %td= link_to 'Edit', edit_bank_path(bank)
        %td= link_to 'Destroy', bank, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bank', new_bank_path
