%p#notice= notice

%p
  %b Name:
  = @bank.name

= link_to 'Edit', edit_bank_path(@bank)
\|
= link_to 'Back', banks_path
\|
= link_to 'New account', new_account_path(bank: @bank.id)

- if @accounts.empty?
  %p= 'No accounts yet'
- else
  %p
    %h3 Accounts
  %table
    %thead
      %tr
        %th Owner Name
        %th Number
        %th Charge
        %th
        %th
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.owner
          %td= account.number
          %td
            %b= account.money.format
          %td= link_to 'Show', account
          %td= link_to 'Edit', edit_account_path(account)
          %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

- if @transfer_history.empty?
  %p= 'No transactions yet'
- else
  %p
    %h3 Transfers history
  %table{cellpadding: '10'}
    %thead
      %tr
        %th Origin account
        %th Destiny account
        %th Money
        %th Commission
        %th State
    %tbody
      - @transfer_history.each do |transfer|
        %tr
          %td= transfer.origin_account.print
          %td= transfer.destiny_account.print
          %td
            %b= transfer.money.format
          %td= transfer.commission
          %td= transfer.state