%b=  "from #{@transfer.origin_account.owner}"
= form_for [@origin_account, @transfer] do |f|
  - if @transfer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transfer.errors.count, "error")} prohibited this transfer from being saved:"
      %ul
        - @transfer.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :money
    = f.text_field :money
  = f.hidden_field :origin_account_id, value: @origin_account.id
  .field
    = f.label :destiny_account
    = f.select :destiny_account_id, options_from_collection_for_select(@destiny_accounts, :id, :print)
  .actions
    = f.submit 'Transfer Money'
