= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :money
    = f.text_field :money
  = f.hidden_field :bank_id, value: @account.bank.id
  .actions
    = f.submit 'Save'
