%h1 Listing accounts

%table
  %thead
    %tr
      %th Owner
      %th Number
      %th
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.owner
        %td= account.number
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
