%p#notice= notice

%p
  %b Owner:
  = @account.owner
  %br
  %b Number:
  = @account.number
  %br
  %b Charge:
  = @account.money.format
  %br
  %b Bank:
  = @account.bank.name

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', bank_path(@account.bank)
\|
= link_to 'New transfer', new_account_transfer_path(@account)

- if @transfer_history.empty?
  %p= 'No transactions yet'
- else
  %p
    %h3 Transfers history

  %table{cellpadding: '10'}
    %thead
      %tr
        %th Destiny account
        %th Money
        %th Commission
        %th State
    %tbody
      - @transfer_history.each do |transfer|
        %tr
          %td= transfer.destiny_account.print
          %td
            %b= transfer.money.format
          %td= transfer.commission
          %td= transfer.state